<ion-header>

  <ion-navbar>
    <ion-title>{{ orgDisplay.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center
    #profilePic
    [style.background-image]="'url(' + orgDisplay.logoUrl + ')'">
  </div>

  <ion-list>
    <ion-item text-wrap>
      {{orgDisplay.name}}
      <p *ngIf="orgDisplay.slogan" class="italic">{{orgDisplay.slogan}}</p>
      <p *ngIf="orgDisplay.description">{{orgDisplay.description}}</p>
    </ion-item>

    <ion-item *ngIf="orgDisplay.charityNavSection">
      Transparency and Accountability
      <button ion-button outline item-end icon-end
        (click)="openWebsite(orgDisplay.charityNavUrl)"
        *ngIf="orgDisplay.charityNavUrl">
        Link
        <ion-icon name="link"></ion-icon>
      </button>
      <p *ngIf="orgDisplay.stars">
        Charity Navigator Rating
        <ion-icon name="star" *ngIf="orgDisplay.stars >= 1" class="leftCushion"></ion-icon>

        <ion-icon name="star" *ngIf="orgDisplay.stars >= 2"></ion-icon>
        <ion-icon name="star-outline" *ngIf="orgDisplay.stars < 2"></ion-icon>
        <ion-icon name="star" *ngIf="orgDisplay.stars >= 3"></ion-icon>
        <ion-icon name="star-outline" *ngIf="orgDisplay.stars < 3"></ion-icon>
        <ion-icon name="star" *ngIf="orgDisplay.stars === 4"></ion-icon>
        <ion-icon name="star-outline" *ngIf="orgDisplay.stars < 4"></ion-icon>
      </p>

      <p *ngIf="orgDisplay.score">
        Charity Navigator Score
        <ion-badge class="leftCushion">{{orgDisplay.score}} / 100</ion-badge>
      </p>
    </ion-item>

    <ion-item *ngIf="orgDisplay.website">
      Website
      <button ion-button outline item-end icon-end (click)="openWebsite(orgDisplay.website)">
        Link
        <ion-icon name="link"></ion-icon>
      </button>
    </ion-item>

    <ion-item *ngIf="orgDisplay.areas">
      Mission Area
      <p *ngFor="let area of orgDisplay.areas">
        {{ area }}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
