page-org-detail {
  .org-profile {
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
  }

  ion-icon {
    color: #0077f7;
  }

  p {
    line-height: 150% !important;
  }

  ion-label {
    line-height: 200%;
    font-size: larger !important;
  }

  p.italic {
    line-height: 250% !important;
  }

}
