<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Inbox</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <button detail-none ion-item (click)="openWebsite(vd.youtubeopenurl)"
      *ngFor="let vd of videosDisplay">
      <ion-avatar item-start *ngIf="vd">
        <img [src]="vd.thumbnailurl" />
      </ion-avatar>
      <ion-label *ngIf="vd">
        <h2>{{ vd.title }}</h2>
        <!-- <p>{{ vd.description }}</p> -->
      </ion-label>
      <ion-icon item-end name="play"></ion-icon>
      <!-- <ion-note item-end>{{ org.MCstars }}</ion-note> -->
    </button>
  </ion-list>

</ion-content>
