// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* source-sans-pro-300italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/source-sans-pro-v11-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'),
       url('../assets/fonts/source-sans-pro-v11-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/source-sans-pro-v11-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/source-sans-pro-v11-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/source-sans-pro-v11-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/source-sans-pro-v11-latin-300italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/source-sans-pro-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
       url('../assets/fonts/source-sans-pro-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/source-sans-pro-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/source-sans-pro-v11-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/source-sans-pro-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/source-sans-pro-v11-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* varela-round-regular - latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/varela-round-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
       url('../assets/fonts/varela-round-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/varela-round-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/varela-round-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/varela-round-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/varela-round-v9-latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}
