page-welcome {
  ion-content {
    background: #eee !important;
  }

  .fb-blue {
    background-color: #3b5998;
  }

  .space-above {
    margin-top: 10%;
  }


  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.png') no-repeat transparent;
    background-size: cover;
    background-position: center;
    height: 50%;
    z-index: 1;
    background-repeat: repeat-x;
    // animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    // margin-bottom: -5px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 30px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    font-family: 'Varela Round';
    color: white;
  }
  button.cushion-top {
    margin-top: 25px;
  }

  button.button-white {
    background-color: #fafafa;
    color: #333;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
