<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="thesegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="curated">
        Our Picks
      </ion-segment-button>
      <ion-segment-button value="my">
        Mine
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>

<ion-content has-footer>
  <ion-searchbar
    *ngIf='thesegment==="all"'
    (ionInput)="searchForOrgs($event)"
    (ionCancel)="resetOrgs($event)"
    (ionClear)="resetOrgs($event)"
    placeholder="Search"
    animated=true
    >
  </ion-searchbar>

  <ion-list>
    <button ion-item detail-none (click)="openOrg(org)" *ngFor="let org of realorgs">
      <!-- <ion-avatar item-start>
        <img [src]="org.PPlogoUrl" />
      </ion-avatar> -->
      <ion-label>
        <h2>{{ org.PPname }}</h2>
        <p>{{ org.PPdescription }}</p>
      </ion-label>
      <!-- <ion-note item-end>{{ org.MCstars }}</ion-note> -->
      <ion-toggle [(ngModel)]="org.checked" (ionChange)="toggleChanged(org)"></ion-toggle>
    </button>
  </ion-list>

  <ion-infinite-scroll
    *ngIf='thesegment==="all"'
    (ionInfinite)="$event.waitFor(infiniteScroll())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="new-bg">
  <button full ion-button icon-end
    *ngIf='thesegment==="my"'
    [disabled]="!realorgs.length"
    (click)="addBlock()">
    Donate
    <ion-icon name="arrow-dropright"></ion-icon>
  </button>
</ion-footer>
